@import "../../styles/scss/App.scss";

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;

    .contact-content {
        max-width: 564px;
        padding: 32px;
        width: 100%;
        justify-content: center;
        backdrop-filter: blur(5px);
        box-shadow: #242424 0px 0px 20px;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .contact-title {
            font-size: 18px;
            color: $text-color-light;
            backdrop-filter: blur(5px);
            border-radius: 22px;
            margin-top: 16px;
            margin-bottom: -9px;
            z-index: 2;
            padding: 0 26px;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 32px 32px 0 32px;
            
            @media screen and (max-width: 612px) {
                padding: 32px 0 0 0;
            }

            .form-input {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 612px) {
                    flex-direction: column;

                    div {
                        width: 100% !important;
                    }
                }

                div {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;
                        font-size: 14px;
                        margin-left: 12px;
                        margin-bottom: 6px;
                    }

                    input {
                        border-radius: 6px;
                        padding: 6px 14px;
                        background-color: $text-color-light;
                        border: unset;
                        border: 2px solid transparent;

                        &::placeholder{
                            color: $dark-background-color;
                        }

                        &:focus{
                            border: 2px solid $primary;  
                            outline: none;
                        }
                    }
                    

                    span {
                        margin-top: 4px;
                        margin-left: 8px;
                        text-transform: lowercase;
                        color: $error;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }

            .messageContainer {
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 6px;
                    margin-left: 12px;
                    font-weight: bold;
                    font-size: 14px;
                }

                textarea {
                    border-radius: 14px;
                    padding: 6px 14px;
                    background-color: $text-color-light;
                    border: unset;
                    resize: none;
                }

                span {
                    margin-top: 4px;
                    margin-left: 8px;
                    text-transform: lowercase;
                    color: $error;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .sendBtn {
                margin-top: 16px;
                align-self: flex-end;
                position: relative;
                background-color: $light-background-color;
                border: none;
                border-radius: 14px;
                padding: 12px 48px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: $dark-background-color;
                cursor: pointer;
                transition: 0.4s ease-in-out;

                &:hover {
                    background-color: $dark-background-color;
                    color: $light-background-color;
                    transform: scale(0.99);
                }

                &:not(.loading):hover {
                    background-color: $dark-background-color;
                    color: $light-background-color;
                    transform: scale(0.98);
            
                    &::before {
                        opacity: 1;
                        box-shadow: 0 0 0 2px $light-background-color;
                    }
                }
            

                &.loading {
                    color: transparent;
                    cursor: not-allowed;
                    pointer-events: none;
                    transition: none;

                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(50% - 11px);
                        left: calc(50% - 11px);
                        width: 12px;
                        height: 12px;
                        border: 5px solid rgba(0, 0, 0, 0.1);
                        border-top-color: $dark-background-color;
                        border-radius: 50%;
                        animation: spin 1s linear infinite;
                    }
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
