@import '../../styles/scss/App.scss';

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;

    .contact-content{
        max-width: 564px;
        padding: 32px;
        width: 100%;
        justify-content: center;
        background-color: #444;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-title{
            font-size: 18px;
            color: $text-color-light;
            background-color: #444;
            border-radius: 22px;
            margin-top: 16px;
            margin-bottom: -9px;
            z-index: 2;
            padding: 0 26px;
        }

        .contact-form{
            display: flex;
            flex-direction: column;
            width: 100%;
            border-top: 2px $text-color-dark solid;
            padding-top: 32px;

            .form-input{
                display: flex;
                justify-content: space-around;

                @media screen and (max-width: 612px) {
                    flex-direction: column;

                    div{
                        width: 100% !important;
                    }
                }

                div{
                    display: flex;
                    flex-direction: column;
                    width: 45%;

                    label{
                        font-weight: bold;
                        font-size: 14px;
                        margin-left: 12px;
                        margin-bottom: 6px;
                    }
                    
                    input{
                        border-radius: 14px;
                        padding: 6px 14px;
                        background-color: $text-color-light;
                        border: unset;
                    }
                    input::placeholder{
                        color: $dark-background-color;
                    }

                    span{
                        margin-top: 4px;
                        margin-left: 8px;
                        text-transform: lowercase;
                        color: $error;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }
            .messageContainer{
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom: 6px;
                    margin-left: 12px;
                    font-weight: bold;
                    font-size: 14px;
                }
    
                textarea{
                    border-radius: 14px;
                    padding: 6px 14px;
                    background-color: $text-color-light;
                    border: unset;
                }

                span{
                    margin-top: 4px;
                    margin-left: 8px;
                    text-transform: lowercase;
                    color: $error;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .sendBtn {
                margin-top: 16px;
                align-self: flex-end;
                position: relative;
                background-color: $light-background-color;
                border: none;
                border-radius: 14px;
                padding: 12px 48px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                color: $dark-background-color;
                cursor: pointer;
                transition: .4s ease-in-out;
              
                &::before {
                  content: '';
                  position: absolute;
                  top: -4px;
                  left: -4px;
                  right: -4px;
                  bottom: -4px;
                  border-radius: 18px;
                  box-shadow: 0 0 0 0 $dark-background-color;
                  opacity: 0;
                  transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out;
                }
              
                &:hover {
                  background-color: $dark-background-color;
                  color: $light-background-color;
                  transform: scale(.98);
              
                  &::before {
                    opacity: 1;
                    box-shadow: 0 0 0 2px $light-background-color;
                  }
                }
              }
        }
    }
}