@import '../../styles/scss/App.scss';

.header-logo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    max-width: 320px;
    width: 100%;

    @media screen and (max-width: 1160px) {
        max-width: 140px;
    }

    h1 {
        white-space: nowrap;
        margin: 0 32px;
        text-align: center;
        letter-spacing: 2px;
        font-size: $xx;
        font-weight: 200;
        transition: .4s;
    }

    &:hover{
        text-shadow: 0 0 10px #fff;
    }
}