// ----- COLORS -----
$primary: #00ccff;
$secondary: #86c6fa;
$dark-background-color: #37373f;
$light-background-color: #e4fdff;
$amoled: #000;
$text-color-light: #f4f2ff;
$text-color-dark: #201f22;
$bg-span_skills-light: #d2cbe4;
$bg-span_skills-dark: #2a1e2c;

$bg-span_skills-light-hover: #b49bc40c;
$bg-span_skills-dark-hover: #2a1e2c0c;


// ----- FONT-SIZE -----
$md: 16px;
$sm: 12px;
$bg: 20px;
$xx: 26px;
$xxl: 32px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, $dark-background-color, $amoled);
    background-size: 400% 400%;
    height: 100vh;
    animation: bg-animation 15s ease infinite;
    color: $text-color-light;
}

@keyframes bg-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }